@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('fontawesome-free-6.4.2-web/css/all.min.css');

:root{
    --e-global-color-primary: #FEE500;
    --e-global-color-secondary: #3B6DEE;
    --e-global-color-text: #242A3C;
    --e-global-color-accent: #1B1B1B;
    --e-global-color-607e692: #E8AA8C;
    --e-global-color-007abcc: #242A3C;
    --e-global-color-4cc6d85: #222327;
    --e-global-color-e361c0d: #FFFFFF;
    --e-global-color-06e4b24: #E77729;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;   
    margin: 0;
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Space Grotesk', sans-serif;
}

img{
    display: block;
}
p{
    margin: 0;
}

a{
    text-decoration: none;
}

i{
    color: var(--e-global-color-text);
}

h2{
    font-weight: 900;
    text-transform: uppercase;
}
#header{
    background-color: transparent;
    background-image: radial-gradient(circle, rgb(59, 109, 238) -15%, rgb(27, 27, 27) 72%);
    color: #FFFFFF;
    padding: 15px 0px 15px 0px;
    margin: 0;
    width: 100%;
    position: relative;
}

#img-menu{
    float: left;
    padding: 0;
}

#menu{
    display: flex;
}

#panel{
    background-image: url("../images/Panel.jpg");
    background-size: cover;
    background-position: right center;
    color: var(--color-blanco);
    margin: 0;
    padding: 350px 0;
    background-size: cover;
    position: relative;
}


#panel h1{
    font-size: 52px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

#panel .texto-columna{
    padding-left:32px ;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    top: 0;
}

#panel .col{
    padding: 0;
}
#logos{
    padding: 0;
}

#logos img{
    border: solid var(--e-global-color-accent) 3px;
    opacity: 0.9;
}

#logos .col-16_66{
    padding: 0;
}

#guia{
    background-image: url(../images/fondo\ guia.jpg);
    background-size: cover;
    color: #FFFFFF;
    padding: 110px 10px 90px 10px;
}

#guia h2{
    font-size: 45px;
}

#guia .col{
    padding-right: 20px;
}

#guia .texto-iconos i::after{
    position: absolute;
    content: "";
    color: var(--e-global-color-primary);
    border: solid 1px;
    border-radius: 75%;
    right: -100px;
    bottom: 22px;
    width: 125%;
}

#top-semana{
    background-color: transparent;
    background-image: radial-gradient(circle at top left, #3B6DEE -15%, #1B1B1B 28%);
    padding: 120px 50px 100px 50px;
}

#top-semana img{
    margin-top: 60px;
    border-radius: 0 0 160px 0;
}

#top-semana h3{
    text-transform: uppercase;
}

#mejores-descuentos{
    background-color: var(--e-global-color-accent);
}
.texto-superior-guia p{
    font-size: 20px;
    font-weight: 600;
}
.padded{
    padding: 0 30px;
}

.row{
    display: flex; 
    margin-left: -15px;
    margin-right: -10px;
}

.container{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col{
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.col-15{
    flex-basis: 15%;
    max-width: 15%;
}
.col-16_66{
    flex-basis: 16.66%;
    max-width: 16.66%;
}

.col-20{
    flex-basis: 20%;
    max-width: 20%;
}

.col-25{
    flex-basis: 25%;
    max-width: 25%;
}
.col-30{
    flex-basis: 30%;
    max-width: 30%;
}
.col-33_33{
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.col-35{
    flex-basis: 35%;
    max-width: 35%;
}

.col-40{
    flex-basis: 40%;
    max-width: 40%;
}

.col-45{
    flex-basis: 45%;
    max-width: 45%;
}
.col-50{
    flex-basis: 50%;
    max-width: 50%;
}

.col-65{
    flex-basis: 65%;
    max-width: 65%;
}

.col-75{
    flex-basis: 75%;
    max-width: 75%;
}

.centrado-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-fluid{
    max-width: 100%;
}

.texto-color-amarillo{
    color: var(--e-global-color-primary);
}

.texto-color-blanco{
    color: var(--e-global-color-e361c0d);
}


.boton-amarillo{
    font-weight: 500;
    font-size: 16px;
    border-radius: 35px;
    padding: 18px 25px;
    background-image: linear-gradient(110deg, 
    var(--e-global-color-primary)60%, var(--e-global-color-06e4b24)85%,var(--e-global-color-4cc6d85) 100%);
    width: fit-content;
}

.boton-amarillo a{
    color: var(--e-global-color-text);
}

.boton-blanco{
    padding: 18px 25px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 35px;
    width: fit-content;
    background-color: var(--e-global-color-e361c0d);
}

.boton-azul{
    padding: 18px 25px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 35px;
    width: fit-content;
    background-color: var(--e-global-color-text);
}

.boton-azul a, .boton-azul i{
    color: var(--e-global-color-e361c0d);
}

.posicion-boton-blanco{
    display: flex;
    align-items: center;
}

.botones-panel{
    margin-top: 4em;
}

.boton-blanco a{
    color: var(--e-global-color-text);
}

.boton-menu i{
    color: var(--e-global-color-text);
}

.texto-resaltado{
    background-image: linear-gradient(180deg, 
    var(--e-global-color-primary)60%, var(--e-global-color-06e4b24)85%,var(--e-global-color-4cc6d85) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    font-size: 20px;
    width: fit-content;
}

.texto-columna{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comentarios{
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 350;
}

.comentarios p{
    padding-left: 15px;
    padding-right: 15px;
}

.comentarios i{
    font-size: 12px;
    color: var(--e-global-color-primary);
}

.texto-panel{
    color: var(--e-global-color-e361c0d);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto-lateral{
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: calc(100% - 70%);
    right: calc(100% - 97%);
    line-height: 0.8em;
    transform: rotate(270deg);
    transform-origin: right top;
}

.texto-superior-guia{
    text-align: center;
}

.texto-iconos{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}

.texto-iconos i{
    position: relative;
    color: var(--e-global-color-e361c0d);
    margin-top: 1em;
    font-size:50px;
}
.texto-iconos h3{
    font-size: 26px
}

.botones-guia{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}


.texto-top h2{
    font-size: 40px;
}

.boton-top-semana{
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-top{
    color: var(--e-global-color-e361c0d);
}
.texto-top .col-30{
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
}

.texto-top p{
    font-size: 16px;
    font-weight: 700;
}
.texto-top .col-30 p::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 48%;
    background-image: linear-gradient(360deg, 
    var(--e-global-color-primary)75%, var(--e-global-color-e361c0d) 95%);
    left: -10px;
    top: 28px;
}

.texto-top .col-45{
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}
.texto-top .col-45 p{
    font-size: 18px;
}

#mejores-descuentos h2{
    font-size: 40px;
}

#mejores-descuentos .container{
    padding: 0;
}
.texto-top2{
    color: var(--e-global-color-e361c0d);
}
.texto-top2 .col-30{
    padding-right: 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.texto-top2 .col-30 p{
    font-size: 18px;
    font-weight: 700;
}
.texto-top2 .col-45{
    margin-left: 35px;
    padding-left: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
}

.texto-top2 .col-45 p::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 48%;
    background-image: linear-gradient(360deg, 
    var(--e-global-color-primary)75%, var(--e-global-color-e361c0d) 95%);
    left: 40px;
    top: 28px;
}


.juegos-de-la-semana .row{
    color: var(--e-global-color-e361c0d);
}

.juegos-de-la-semana .col-16_66{
    display: flex;
    align-items: center;
    justify-content: end;
}
.numero-lista{
    font-weight: 900;
    font-size: 45px;
}

.titulo-juego{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reseña-juego{
    font-weight: 400;
    word-spacing: 3px;
    display: flex;
    align-items: center;
}

.juegos-de-la-semana .row{
    padding: 32px;
    border-bottom: gray solid 1px;
}

.nombre-juego-descuento{
    line-height: 1.2em;
    letter-spacing: -2px;
    font-weight: 800;
    font-size: 32px;
}

.titulo-descuento{
    font-size: 18px;
    font-weight: 400;
}

.juegos-descuento .col-15{
    background-color: var(--e-global-color-4cc6d85);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 20px;
    padding: 24px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.juegos-descuento{
    color: var(--e-global-color-e361c0d);
}
.juegos-descuento img{
    border: rgba(255, 255, 255, 0) 5px solid;
    border-radius: 5px;
    background-origin: border-box;
    background-image: linear-gradient(180deg,var(--e-global-color-primary) 25%, var(--e-global-color-607e692) 65%);
}

.juegos-descuento2{
    margin-top: 25px;
    padding-bottom: 50px;
    color: var(--e-global-color-e361c0d);
}
.juegos-descuento2 img{
    border: rgba(255, 255, 255, 0) 5px solid;
    border-radius: 5px;
    background-origin: border-box;
    background-image: linear-gradient(180deg,var(--e-global-color-primary) 25%, var(--e-global-color-607e692) 65%);
}

.juegos-descuento2 .col-15{
    background-color: var(--e-global-color-4cc6d85);
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 15px;
    padding: 24px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}